*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 15px;
    margin: 0 auto;
}
.main{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
   
}

h1 {
    margin: 20px 0;
    text-align: center;
}
.apps {
    display: flex;
    flex-wrap: wrap;
}
.app {
    border-radius: 5px;
  border: 1px solid #D0D4DC;
  margin: 10px;
  padding: 10px;
}
p {
    margin: 10px 0;
    
}


input[type="submit"] {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
  border: 1px solid #D0D4DC;
  cursor: pointer;
  }