*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto.ttf);
}

.auth{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: black;

    text-decoration: none;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
input{
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    cursor: pointer;
}
button{
    padding: 10px;
    
}
.msg{
    margin-top: 20px;
    border: 2px solid #ffa908;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}


